{% extends "blog/base.html" %}
{% load blog %}

{% load static %}
{% block content %}

<div class="container" style="padding-top:112px;">
  {% include "blog/components/search-tag.html" %}

  {% for post in post_list  %}
    <article class="article">

      <div class="thumbnail">
        <a href="{% url 'blog:post_detail' post.id %}">
          {% if post.thumbnail %}
            <img class="post-thumbnail" src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
          {% else %}
            <img class="post-thumbnail" src="{% static 'images/noimage.png' %}" alt="{{ post.title }}">
          {% endif %}
        </a>
      </div>

      <div class="detail">
        <p class="created-at">{{ post.createdAt | date_from_isoformat }}</p>
        <a href="{% url 'blog:post_detail' post.id %}">
          <h1 class="post-title" style="margin-top:1rem;">{{ post.title }}</h1>
        </a>
        <p class="post-description">{{ post.description | linebreaks }}</p>

        {% if post.tag %}
        <div class="tag">
            <span class="post-tag">Tags:</span>
              {% for tag in post.tag|sorted_post_tag %}
                <span class="post-tag" style="margin-left:3px;">{{ tag.name }}</span>
                {% if not forloop.last %}
                  <span style="margin:0 3px; color:#888">/</span>
                {% endif %}
              {% endfor %}
        </div>
        {% endif %}

      </div>
    </article>
  {% endfor %}

  {% include "blog/components/pagination.html" %}

</div>
{% endblock %}
